.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.colorbtn{
  cursor: pointer;
  width: 34px;
  height: 20px;
}

#red{
  background-color: #d91f1f;
  border-radius: 50%;
}
#green{
  background-color: #53cf10;
  border-radius: 50%;
}
#blue{
  background-color: #0b1ae7;
  border-radius: 50%;
}
#yellow{
  background-color: #f5ed0a;
  border-radius: 50%;
}